<!-- Start Spinner -->
<div class="text-center w-100" *ngIf="loading"> <!--products.length==0-->
  <app-spinner></app-spinner>
</div>
<!-- End Spinner -->

<!-- Start Product card -->
<div class="box" *ngIf="!loading"> <!--products.length>0-->
    <div class="row">
        <div class="col-lg-3">
            <div class="col-md-5 col-sm-12">
                <img [src]="products.image" [alt]="products.image">
            </div>

            <div class="col-md-7 col-sm-12">
                <div class="info">
                    <ul class="list-unstyled">
                        <li><strong>Title : </strong> {{products.title}} </li>
                        <li><strong>Category : </strong> {{products.category}} </li>
                        <li><strong>price : </strong> {{products.price}}</li>
                        <li><strong>description : </strong> {{products.description}}</li>
                        <li><strong>image : </strong> {{products.image}}</li>
                        <li><strong>rate : </strong> {{products.rating.rate}}</li>
                        <li><strong>rate Count: </strong> {{products.rating.count}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Product card -->
