<!-- Start Error Alert -->
<div class="alert alert-danger" role="alert" *ngIf="err_status">
 {{err_message}}
</div>
<!-- End Error Alert -->

<!-- Start Category DropDown -->
<div class="row">
  <div class="col-lg-3">
    <div class="my-3">
      <app-select [data]="Categories" [Select_Title]="'Categories'" (selectedValue)="FliterProducts($event)"></app-select>
    </div>
  </div>
</div>
<!-- End Category DropDown -->

<!-- Start Spinner -->
<div class="text-center w-100" *ngIf="loading"> <!--products.length==0-->
  <app-spinner></app-spinner>
</div>
<!-- End Spinner -->

<!-- Start Product card -->
<div *ngIf="!loading"> <!--products.length>0-->
    <div class="row">
        <div class="col-lg-3" *ngFor="let item of products">
            <app-product-card [products]="item" (item)="AddToCart($event)"></app-product-card>
        </div>
    </div>
</div>
<!-- End Product card -->
